body{
    display: flex;
    justify-content: center;
    
}
select {
    display: flex;
    margin: 20px 5px;
    height: 3em;
    background-color: #ddd;
}
form {
    display: flex;
    border: solid 1px black;
    justify-content: space-between;
    flex-direction: column;
    width: 30vw;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(39, 38, 38);
    color: #fff;
}

.buton_enviar{
    height: 3em;
}
